@{
    ViewData["Title"] = "Cart";
    @using HealthyMomAndBaby;
    @using HealthyMomAndBaby.Models
    @using HealthyMomAndBaby.Entity
    @using HealthyMomAndBaby.Models.Request
    var carts = ViewData["Cart"] as HashSet<CartRequest>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
</head>

<body style="background-color: #f7f7f7; width: 100vw">
    <div style="height: 64px; background-color: white"
         class="d-flex align-items-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuNlrvrFMLORKsLtoNNG6J0ulGeOgOBuzcNw&s"
             alt=""
             width="40"
             height="40"
             class="rounded-circle mx-4" />
        <h3>Trần Thanh Sơn</h3>
        <button class="btn btn-danger ms-auto" style="margin-right: 20px">
            Logout
        </button>
    </div>
    <div class="" style="width: 99vw">
        <div class="row">
            <div class="col-9">
                <div class="rounded"
                     style="
              height: 80vh;
              background-color: white;
              margin-top: 30px;
              margin-left: 20px;
            ">
                    <div style="padding-top: 20px; padding-left: 20px">
                        <h2>Cart</h2>
                    </div>
                    <hr />
                    <!-- Cart body -->
                    <div class="text-center"
                         style="padding-left: 80px; padding-right: 80px">
                        <div class="row">
                            @foreach( CartRequest cart in carts)
                            {
                                <!-- Cart c1 -->
                                <div class="col-2">
                                    <img src="@cart.Image"
                                         alt="@cart.ProductName"
                                         width="150px"
                                         height="150px" />
                                </div>
                                <!-- Cart c2 -->
                                <div class="col d-flex align-items-center">
                                    <div>
                                        <div>@cart.Category</div>
                                        <h3>@cart.ProductName</h3>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-center align-items-center">
                                    <h2>@cart.TotoalPrice</h2>
                                </div>
                                <!-- Cart c3 -->
                                <div class="col d-flex align-items-center">
                                    <div class="text-center">
                                        <button class="btn btn-outline-primary"
                                                style="border: none">
                                            +
                                        </button>
                                        <input type="number" value="@cart.Quantity" style="width: 40px; height: 40px" />
                                        <button class="btn btn-outline-primary"
                                                style="border: none">
                                            -
                                        </button>
                                    </div>
                                </div>
                                <!-- Cart c4 -->
                                <div class="col d-flex align-items-center">
                                    <a class="btn btn-danger" href="@Url.Action("deleteCartItem","Order", new {id = cart.ProductId})">
                                        <i class="fa-solid fa-trash delete"></i>
                                    </a>
                                </div>
                            }
                            
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="rounded"
                     style="height: 80vh; background-color: white; margin-top: 30px">
                    <div style="padding-top: 20px; padding-left: 20px">
                        <h2>Summary</h2>
                    </div>
                    <hr />
                    <div style="padding-top: 20px; padding-left: 50px; padding-right: 50px">
                        <div class="d-flex justify-content-between">
                            <div style="font-weight: bold; font-size: large">
                                Total Price
                            </div>
                            <div>$53.98</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div style="font-weight: bold; font-size: large">Shipping</div>
                            <div>Ship code</div>
                        </div>
                        <hr />
                        <button class="btn btn-primary" style="width: 18.5vw">
                            <div style="font-weight: bold; font-size: large">Check out</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</html>
